<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .header {width:auto; height:30px;}
        .img-content ul{width:auto; margin:40px; padding:0}
        .img-content ul li{display:inline-block}
        .img-content ul li img{width:300px; height:300px; padding:0 0px}
    </style>
</head>
<body>
    <div class="header">

    </div>
    <div class="img-content">
        <ul>
            <li><img src="images/london.jpg" /></li>
            <li><img src="images/paris.jpg" /></li>
            <li><img src="images/london.jpg" /></li>
            <li><img src="images/paris.jpg" /></li>
            <li><img src="images/london.jpg" /></li>
            <li><img src="images/paris.jpg" /></li>
            <li><img src="images/london.jpg" /></li>
            <li><img src="images/paris.jpg" /></li>
            <li><img src="images/london.jpg" /></li>
            <li><img src="images/paris.jpg" /></li>
            <li><img src="images/london.jpg" /></li>
            <li><img src="images/paris.jpg" /></li>
            <li><img src="images/london.jpg" /></li>
            <li><img src="images/paris.jpg" /></li>
        </ul>
    </div>
<script>
</script>
</body>
</html>